    <div id="header" class="container-fluid hero-bg">
        <div class="row banner">
            <div class="col-xs-2 col-sm-2 col-md-1 col-lg-1">
                <a href="/"><span class="logo">stretch goals</span></a>
            </div>
            <div class="col-xs-10 col-sm-10 col-md-11 col-lg-11">
                <button class="hamburger hamburger--htx" id="toggle-main-nav">
                    <span>toggle menu</span>
                </button>
                <nav class="main-nav mobile-nav" id="main-nav">
                    <ul>
                        <!--li><a href="/courses">Course</a></li>
                        <li><a href="/learn/login">Login</a></li>
                        <li><a href="/learn/signup">Signup</a></li-->
                        <li class="action"><a href="{{ site.itunes_subscribe }}" class="btn btn-primary btn-small">Subscribe on iTunes</a></li>
                    </ul>
                    <a href="#" id="menu-close"><span class="close-icon"></span></a>
                </nav><!--/ nav -->
            </div><!--/ .col-md-9 -->
        </div><!--/ .row -->
    </div><!--/ #header -->