    <div id="hosts-wrapper">
        <div id="hosts" class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="/assets/images/robert_dickerson_profile.png">
                    <h3>Robert Dickerson</h3>
                    <p><span class="sprite-icon twitter-blue">Twitter</span><a href="{{ site.rob_twitter_url }}"> @{{ site.rob_twitter_username }}</a></p>
                    <p>Robert Dickerson is the Founder and CEO of <a href="https://mapoutlearning.com">Mapout</a> a mobile learning platform that uses video courses to educate customers and train employees.  He helps companies develop and launch their products.</p>

                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <img src="/assets/images/scott_davis_profile.png">
                    <h3>Scott Davis</h3>
                    <p><span class="sprite-icon twitter-blue">Twitter</span> <a href="{{ site.scott_twitter_url }}">@{{ site.scott_twitter_username }}</a></p>
                    <p>Scott Davis is the Founder and CEO of MobX, a mobile development software agency. He has 20 years of experience developing software for Government, Finance, Sports and the Telecommunications industry.</p>
                </div>
            </div><!--/ .row -->
        </div><!--/ #hosts -->
    </div><!--/ #hosts-wrapper -->