div.fancybox-inner {
  background-color: #000; }

.underline {
  text-decoration: underline; }

.relative {
  position: relative; }

p.browserupgrade {
  display: block;
  padding: 30px 15px;
  background-color: #e9c000;
  color: #000;
  text-align: center;
  margin: 0; }
  p.browserupgrade a {
    color: #000;
    text-decoration: underline; }

span.sprite-icon {
  display: inline-block;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  overflow: hidden;
  text-indent: -9999px; }
  span.sprite-icon.mobile-phone {
    width: 21px;
    height: 35px;
    background-position: -10px -81px; }
  span.sprite-icon.computer {
    width: 33px;
    height: 29px;
    background-position: -31px -81px; }
  span.sprite-icon.star {
    width: 31px;
    height: 29px;
    background-position: -64px -81px; }
  span.sprite-icon.globe {
    width: 55px;
    height: 49px;
    background-position: -193px -81px; }
  span.sprite-icon.globe-green {
    width: 55px;
    height: 49px;
    background-position: -193px -175px; }
  span.sprite-icon.chart {
    width: 55px;
    height: 42px;
    background-position: -249px -81px; }
  span.sprite-icon.chart-green {
    width: 55px;
    height: 42px;
    background-position: -249px -175px; }
  span.sprite-icon.cap {
    width: 62px;
    height: 41px;
    background-position: -304px -81px; }
  span.sprite-icon.cap-green {
    width: 62px;
    height: 41px;
    background-position: -304px -175px; }
  span.sprite-icon.laptop {
    width: 52px;
    height: 35px;
    background-position: -193px -130px; }
  span.sprite-icon.laptop-green {
    width: 52px;
    height: 35px;
    background-position: -193px -224px; }
  span.sprite-icon.rocket {
    width: 45px;
    height: 44px;
    background-position: -246px -130px; }
  span.sprite-icon.rocket-green {
    width: 45px;
    height: 44px;
    background-position: -246px -224px; }
  span.sprite-icon.chat {
    width: 49px;
    height: 39px;
    background-position: -290px -130px; }
  span.sprite-icon.chat-green {
    width: 49px;
    height: 39px;
    background-position: -290px -224px; }
  span.sprite-icon.question {
    width: 44px;
    height: 44px;
    background-position: -328px 0; }
  span.sprite-icon.lock {
    width: 32px;
    height: 42px;
    background-position: -366px -81px; }
  span.sprite-icon.locked {
    width: 32px;
    height: 42px;
    background-position: -398px -81px; }
  span.sprite-icon.dollar-tag {
    width: 41px;
    height: 41px;
    background-position: -366px -123px; }
  span.sprite-icon.dollar-tags {
    width: 50px;
    height: 42px;
    background-position: -366px -164px; }
  span.sprite-icon.facebook {
    width: 11px;
    height: 19px;
    background-position: -372px 0; }
  span.sprite-icon.twitter {
    width: 18px;
    height: 15px;
    background-position: -383px -3px; }
  span.sprite-icon.twitter-blue {
    width: 18px;
    height: 15px;
    background-position: -383px -23px; }
  span.sprite-icon.linkedin {
    width: 18px;
    height: 18px;
    background-position: -401px 0; }
  span.sprite-icon.linkedin-blue {
    width: 18px;
    height: 18px;
    background-position: -401px -21px; }
  span.sprite-icon.youtube {
    width: 16px;
    height: 19px;
    background-position: -420px 0; }
  span.sprite-icon.google {
    width: 17px;
    height: 19px;
    background-position: -437px 0; }

.teal {
  background-color: #71b7b3; }

.yellow {
  background-color: #cfa53f; }

.blue {
  background-color: #1d445a; }

.red {
  background-color: #bb534e; }

.green {
  background-color: #98bb4e; }

.purple {
  background-color: #30232c; }

.black {
  background-color: black; }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
  span.sprite-icon {
    background-image: url(../images/sprites-2x.png);
    background-size: 500px 300px; } }

select.form-control {
  display: inline-block;
  cursor: pointer;
  line-height: 1;
  padding: 10px 60px 10px 13px;
  height: 40px;
  color: #aaa;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0; }
  select.form-control:focus {
    outline: 0; }

em.select-caret {
  margin-left: -30px;
  position: absolute;
  top: 12px;
  right: 12px;
  pointer-events: none;
  color: #aaa; }

ul.share-buttons {
  list-style: none;
  padding: 0; }
  ul.share-buttons li {
    display: inline;
    font-size: 13px;
    font-weight: 400;
    margin-right: 3px;
    padding: 0; }
    ul.share-buttons li a {
      color: #000;
      padding: 6px 12px;
      border: 1px solid #eee;
      border-radius: 2px;
      -webkit-border-radius: 2px; }
      ul.share-buttons li a:active, ul.share-buttons li a:hover {
        text-decoration: none;
        background-color: #eee; }
      ul.share-buttons li a .fa {
        font-size: 12px;
        margin-right: 6px; }
      ul.share-buttons li a .fa-facebook,
      ul.share-buttons li a .fa-facebook-square {
        color: #305c99; }
      ul.share-buttons li a .fa-twitter,
      ul.share-buttons li a .fa-twitter-square {
        color: #00abf0; }
      ul.share-buttons li a .fa-google-plus,
      ul.share-buttons li a .fa-google-plus-square {
        color: #d9270b; }
      ul.share-buttons li a .fa-pinterest,
      ul.share-buttons li a .fa-pinterest-square {
        color: #bd0000; }
      ul.share-buttons li a .fa-linkedin,
      ul.share-buttons li a .fa-linkedin-square {
        color: #0075b7; }

@media (max-width: 767px) {
  ul.share-buttons li a {
    padding-top: 10px; }
    ul.share-buttons li a .fa {
      margin-right: 0;
      font-size: 18px; }
    ul.share-buttons li a span {
      display: none; } }

.onoffswitch {
  position: relative;
  width: 105px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.onoffswitch-checkbox {
  display: none; }

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border-radius: 0px; }

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s; }

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-size: 12px;
  color: #fff;
  font-weight: 300;
  box-sizing: border-box; }

.onoffswitch-inner:before {
  content: "ACTIVE";
  padding-left: 15px;
  background-color: #FF6600;
  color: #fff;
  text-align: left; }

.onoffswitch-inner:after {
  content: "INACTIVE";
  padding-right: 10px;
  background-color: #999;
  color: #ffffff;
  text-align: right; }

.onoffswitch-switch {
  display: block;
  width: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 20px;
  color: #c6c6c6;
  margin: 2px 2px 4px 2px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 69px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: all 0.3s ease-in 0s; }
  .onoffswitch-switch.locked:after {
    font-family: "fontawesome";
    content: "\f023"; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0; }

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; }

.alignleft {
  float: left; }

.alignright {
  float: right; }

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.align-center {
  text-align: center; }

a.play-button {
  cursor: pointer; }
  a.play-button em.fa {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    text-align: center;
    display: inline-block; }
  a.play-button em.fa-play {
    line-height: 59px;
    width: 68px;
    height: 68px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 4px white solid;
    font-size: 30px;
    padding-left: 7px;
    color: #fff; }
    a.play-button em.fa-play:hover, a.play-button em.fa-play:active {
      cursor: pointer;
      background-color: #fff;
      color: #333333; }

.button {
  display: inline-block;
  vertical-align: middle;
  zoom: 1; }
  .button.settings {
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease; }
    .button.settings:before {
      content: "";
      background-color: #c6c6c6;
      border-radius: 100%;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      height: 48px;
      width: 48px; }
    .button.settings:after, .button.settings:before {
      -webkit-transition: background 400ms ease;
      -moz-transition: background 400ms ease;
      -ms-transition: background 400ms ease;
      -o-transition: background 400ms ease;
      transition: background 400ms ease;
      -webkit-transition-delay: 0;
      transition-delay: 0; }
    .button.settings:after {
      content: "";
      background: url(../images/icons/sprites.png) no-repeat -17px 0;
      display: block;
      width: 27px;
      height: 27px;
      overflow: visible;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -13px 0 0 -13px; }
    .button.settings:hover, .button.settings:active {
      cursor: pointer; }
      .button.settings:hover:before, .button.settings:active:before {
        background-color: #919191; }
  .button.launch-app {
    width: 86px;
    height: 86px;
    text-indent: -9999px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease; }
    .button.launch-app:before {
      content: "";
      background-color: #e74c3c;
      border-radius: 100%;
      border: 3px solid #fff;
      position: absolute;
      top: 0;
      left: 0;
      height: 86px;
      width: 86px; }
    .button.launch-app:after, .button.launch-app:before {
      -webkit-transition: background 400ms ease;
      -moz-transition: background 400ms ease;
      -ms-transition: background 400ms ease;
      -o-transition: background 400ms ease;
      transition: background 400ms ease;
      -webkit-transition-delay: 0;
      transition-delay: 0; }
    .button.launch-app:after {
      content: "";
      background: url(../images/icons/sprites.png) no-repeat -45px 0;
      display: block;
      width: 45px;
      height: 44px;
      overflow: visible;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -21px 0 0 -25px; }
    .button.launch-app:hover, .button.launch-app:active {
      cursor: pointer; }
      .button.launch-app:hover:before, .button.launch-app:active:before {
        background-color: #37aea4; }
  .button.add {
    width: 64px;
    height: 64px;
    text-indent: -9999px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1001;
    margin: -32px 0 0 -32px;
    -webkit-transition: background 400ms ease;
    -moz-transition: background 400ms ease;
    -ms-transition: background 400ms ease;
    -o-transition: background 400ms ease;
    transition: background 400ms ease; }
    .button.add:before {
      content: "";
      background-color: #c6c6c6;
      border-radius: 100%;
      -webkit-box-shadow: 6px 6px 10px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.2);
      position: absolute;
      top: 0;
      left: 0;
      height: 64px;
      width: 64px; }
    .button.add:after, .button.add:before {
      -webkit-transition: background 400ms ease;
      -moz-transition: background 400ms ease;
      -ms-transition: background 400ms ease;
      -o-transition: background 400ms ease;
      transition: background 400ms ease;
      -webkit-transition-delay: 0;
      transition-delay: 0; }
    .button.add:after {
      content: "";
      background: url(../images/icons/sprites.png) no-repeat 0 0;
      display: block;
      width: 16px;
      height: 16px;
      overflow: visible;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px; }
    .button.add:hover:before, .button.add:active:before {
      background-color: #919191; }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
  .button.settings:after {
    background: url(../images/icons/sprites-2x.png) no-repeat -17px 0;
    background-size: 270px 190px; }
  .button.launch-app:after {
    background: url(../images/icons/sprites-2x.png) no-repeat -45px 0;
    background-size: 270px 190px; }
  .button.add:after {
    background: url(../images/icons/sprites-2x.png) no-repeat 0 0;
    background-size: 270px 190px; } }

.trans-button {
  border: 1px;
  border-style: solid;
  font-weight: 300;
  display: inline-block;
  text-align: center;
  outline: 0;
  padding: 0px 0px;
  font-size: 18px;
  line-height: 48px;
  width: 200px;
  height: 48px;
  cursor: pointer !important;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .trans-button:hover, .trans-button:active {
    outline: 0;
    text-decoration: none;
    cursor: pointer; }
  .trans-button.trans-white {
    border-color: #fff;
    color: #fff !important;
    text-decoration: none;
    cursor: pointer; }
    .trans-button.trans-white:hover, .trans-button.trans-white:active {
      background-color: rgba(0, 0, 0, 0.15);
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }
  .trans-button.trans-orange {
    border-color: #e74c3c;
    color: #e74c3c !important;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff; }
    .trans-button.trans-orange:hover, .trans-button.trans-orange:active {
      background-color: #e74c3c;
      color: #fff !important; }
  .trans-button.trans-black {
    border-color: #919191;
    color: #333333 !important;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent; }
    .trans-button.trans-black:hover, .trans-button.trans-black:active {
      background-color: rgba(255, 255, 255, 0.35); }
  .trans-button.trans-blue {
    border-color: #315262;
    color: #315262 !important;
    text-decoration: none;
    cursor: pointer;
    background-color: transparent; }
    .trans-button.trans-blue:hover, .trans-button.trans-blue:active {
      background-color: rgba(255, 255, 255, 0.35); }
  .trans-button.trans-lg {
    padding: 0 60px;
    font-size: 30px;
    line-height: 64px;
    width: auto;
    height: 64px; }
  .trans-button.trans-sm {
    padding: 0 15px;
    font-size: 14px;
    line-height: 36px;
    width: auto;
    height: 36px; }
  .trans-button.trans-xs {
    padding: 0 8px;
    font-size: 10px;
    line-height: 24px;
    width: auto;
    height: 24px; }
  .trans-button.trans-block {
    padding: 0 20px;
    font-size: 30px;
    line-height: 74px;
    width: 100%;
    height: 74px; }

.swipe-area {
  position: absolute;
  width: 10px;
  left: 0;
  top: 0;
  height: 100%;
  background: transparent;
  z-index: 0; }

nav.main-nav {
  float: right; }
  nav.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0; }
    nav.main-nav ul li {
      list-style: none;
      display: inline-block;
      padding-left: 0;
      padding-right: 0;
      margin-left: 12px;
      margin-right: 12px; }
      nav.main-nav ul li:hover, nav.main-nav ul li:active, nav.main-nav ul li.active {
        border-bottom: 2px solid #e74c3c; }
      nav.main-nav ul li.action {
        border-bottom: 0 !important; }
        nav.main-nav ul li.action:hover, nav.main-nav ul li.action:active {
          border-bottom: 0 !important;
          background-color: transparent !important; }
      nav.main-nav ul li .btn {
        padding: 5px 15px;
        font-size: 13px;
        margin-left: 15px; }
        nav.main-nav ul li .btn:hover, nav.main-nav ul li .btn:active {
          color: #fff !important;
          background-color: rgba(255, 255, 255, 0.25) !important;
          border-color: #fff; }
      nav.main-nav ul li > a {
        color: #fff !important;
        font-weight: 300 !important;
        padding-top: 6px;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
        text-decoration: none; }
        nav.main-nav ul li > a:hover, nav.main-nav ul li > a:active {
          color: #fff !important;
          background-color: transparent; }

.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
  z-index: 9999;
  display: none;
  top: 10px;
  position: absolute;
  right: 15px; }
  .hamburger:focus {
    outline: none; }
  .hamburger span {
    display: block;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    height: 2px;
    background: white; }
    .hamburger span:before, .hamburger span:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      content: ""; }
    .hamburger span:before {
      top: -10px; }
    .hamburger span:after {
      bottom: -10px; }
  .hamburger.hamburger--htx {
    background-color: transparent; }
    .hamburger.hamburger--htx span {
      transition: background 0s 0.3s; }
      .hamburger.hamburger--htx span:before, .hamburger.hamburger--htx span:after {
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s; }
      .hamburger.hamburger--htx span:before {
        transition-property: top, transform; }
      .hamburger.hamburger--htx span:after {
        transition-property: bottom, transform; }
    .hamburger.hamburger--htx.is-active {
      background-color: transparent; }
      .hamburger.hamburger--htx.is-active span {
        background: none; }
        .hamburger.hamburger--htx.is-active span:before {
          top: 0;
          transform: rotate(45deg); }
        .hamburger.hamburger--htx.is-active span:after {
          bottom: 0;
          transform: rotate(-45deg); }
        .hamburger.hamburger--htx.is-active span:after, .hamburger.hamburger--htx.is-active span:before {
          transition-delay: 0s, 0.3s; }

@media screen and (max-width: 991px) {
  .hamburger {
    display: block;
    clear: both; }
  .mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #333333;
    text-align: left;
    z-index: 999;
    display: none; }
    .mobile-nav.show {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .mobile-nav ul {
      padding-top: 60px !important; }
      .mobile-nav ul li {
        display: block !important;
        padding: 10px 15px 10px 20px !important;
        margin: 0 !important;
        border-bottom: 0 !important;
        font-size: 18px !important; }
        .mobile-nav ul li .btn {
          margin-left: 0 !important; } }

img {
  max-width: 100%; }

body {
  overflow-x: hidden; }

.ng-cloak {
  display: none !important; }

.wf-loading {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear; }

.wf-active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear; }

.nav-open {
  position: fixed; }

.noscroll {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden; }

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  background-color: #000; }

.fullscreen-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5; }

@media (min-aspect-ratio: 16 / 9) {
  .fullscreen-bg-video {
    height: 300%;
    top: -100%; } }

@media (max-aspect-ratio: 16 / 9) {
  .fullscreen-bg-video {
    width: 300%;
    left: -100%; } }

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url(../images/heros/home.jpg) center center/cover no-repeat; }
  .fullscreen-bg-video {
    display: none; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-bottom: 20px; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

div#header {
  padding: 0 15px 0 15px;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; }
  div#header div.banner {
    position: relative;
    height: 55px; }
    div#header div.banner span.logo {
      display: block;
      width: 180px;
      height: 28px;
      overflow: hidden;
      text-indent: -9999px;
      background: url(../images/logo-horizontal-white-red.png) no-repeat;
      /*background-size: 500px 300px;*/
      margin-top: 10px;
      z-index: 99999;
      position: relative; }

@media (max-width: 767px) {
  div#header {
    padding-top: 0;
    padding-bottom: 0; } }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
  div#header div.banner span.logo {
    background: url(../images/logo-horizontal-white-red.png) no-repeat; } }

div.page-home div#hero {
  height: 100vh; }

div.page-podcasts div#hero {
  height: 50vh; }

div.page-podcasts-detail div#hero {
  height: 50vh; }

div.page-contact div#hero {
  background-image: url(../images/heros/contact.jpg); }
  div.page-contact div#hero div.hero-body {
    min-height: 200px !important; }
    div.page-contact div#hero div.hero-body div.hero-head {
      vertical-align: bottom; }

div.page-sales div#hero {
  background-image: url(../images/heros/sales.jpg);
  height: 100vh; }

div.page-request-demo div#hero {
  background-image: url(../images/heros/home.jpg);
  background-position: left top;
  height: 100vh; }

div.page-request-demo div.hero-head {
  background-color: rgba(0, 0, 0, 0.3); }

div.page-request-demo div#request-demo-modal {
  max-width: 500px !important;
  padding: 50px; }

div#hero {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  width: 100%;
  position: relative; }
  div#hero div.hero-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: .7;
    z-index: 1; }
  div#hero div.hero-body {
    height: 100%;
    width: 100%;
    display: table;
    z-index: 9;
    position: relative; }
    div#hero div.hero-body div.hero-head {
      width: 100%;
      height: 100%;
      vertical-align: middle;
      display: table-cell;
      text-align: center;
      color: #fff; }
      div#hero div.hero-body div.hero-head div.podcasts-left {
        display: inline-block;
        width: auto;
        text-align: right; }
      div#hero div.hero-body div.hero-head div.podcasts-right {
        display: inline-block;
        max-width: 600px; }
      div#hero div.hero-body div.hero-head h1 {
        font-size: 72px;
        font-weight: 500;
        max-width: 900px;
        width: auto;
        margin: 0 auto 25px auto; }
        div#hero div.hero-body div.hero-head h1 a {
          color: #fff;
          text-decoration: none; }
      div#hero div.hero-body div.hero-head h5 {
        margin: 15px auto 25px auto;
        max-width: 900px;
        width: auto;
        font-size: 16px; }
      div#hero div.hero-body div.hero-head h3 {
        font-size: 44px;
        line-height: 54px;
        max-width: 900px;
        width: auto;
        margin: 0 auto 35px auto; }
        div#hero div.hero-body div.hero-head h3 a {
          color: #fff;
          text-decoration: none; }
      div#hero div.hero-body div.hero-head div {
        max-width: 800px;
        width: auto;
        margin: 0 auto 25px auto; }

@media (max-width: 767px) {
  div#hero {
    height: 100vh;
    min-height: 400px; }
    div#hero div.hero-overlay {
      height: 100vh; }
    div#hero div.hero-body div.hero-head div.podcasts-left {
      display: block;
      width: 330px;
      text-align: center; }
      div#hero div.hero-body div.hero-head div.podcasts-left div.profile-pic {
        top: 0;
        margin-top: 50px; }
        div#hero div.hero-body div.hero-head div.podcasts-left div.profile-pic img {
          float: none;
          position: relative;
          top: 0;
          margin-top: 50px; }
    div#hero div.hero-body div.hero-head div.podcasts-right {
      display: block; }
    div#hero div.hero-body div.hero-head h1 {
      font-size: 40px; }
    div#hero div.hero-body div.hero-head h3 {
      font-size: 20px;
      line-height: 34px; }
  div.page-contact div#hero {
    height: auto !important; }
    div.page-contact div#hero div.hero-body {
      min-height: 200px !important; }
      div.page-contact div#hero div.hero-body div.hero-head {
        vertical-align: bottom; } }

@media (max-width: 1199px) {
  div#hero div.hero-body div.hero-head div.podcasts-left {
    display: block;
    width: 330px;
    text-align: center; }
    div#hero div.hero-body div.hero-head div.podcasts-left div.profile-pic {
      top: 0;
      margin-top: 50px; }
      div#hero div.hero-body div.hero-head div.podcasts-left div.profile-pic img {
        float: none;
        position: relative;
        top: 0;
        margin-top: 50px; }
  div#hero div.hero-body div.hero-head div.podcasts-right {
    display: block; } }

div#customers {
  min-height: 75px;
  background-color: #5a6166;
  text-align: center; }
  div#customers div.row {
    min-height: 75px; }
  div#customers div.col-xs-12,
  div#customers div.col-sm-12,
  div#customers div.col-md-12,
  div#customers div.col-lg-12 {
    vertical-align: middle !important;
    min-height: 75px; }
  div#customers span {
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background-image: url(../images/logos-sprites.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin: 12px 18px; }
    div#customers span.uber {
      width: 111px;
      height: 15px;
      background-position: 0 -424px; }
    div#customers span.shopify {
      width: 103px;
      height: 30px;
      background-position: 0 -261px; }
    div#customers span.salesforce {
      width: 71px;
      height: 51px;
      background-position: 0 -201px; }
    div#customers span.twitter {
      width: 36px;
      height: 29px;
      background-position: 0 -385px; }
    div#customers span.evernote {
      width: 138px;
      height: 35px;
      background-position: 0 -34px; }
    div#customers span.adobe {
      width: 107px;
      height: 23px;
      background-position: 0 -1px; }
    div#customers span.huge {
      width: 71px;
      height: 28px;
      background-position: 0 -78px; }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
  div#customers span {
    background-image: url(../images/logos-sprites-2x.png);
    background-size: 210px 524px; } }

div#well-create-apps-wrapper {
  background-color: #37aea4;
  padding-top: 80px;
  padding-bottom: 100px; }

div#well-create-apps h2 {
  margin-top: 0; }

div#well-create-apps p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 18px; }

div#well-create-apps * {
  color: #fff; }

div#well-create-apps a {
  font-size: 18px; }

@media (max-width: 991px) {
  div#well-create-apps-wrapper {
    padding-top: 20px;
    padding-bottom: 20px; } }

div#why-mobile-wrapper {
  background: url(../images/why-mobile-screen-view.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px; }

div#create-brand-wrapper {
  background-color: #999;
  padding-top: 40px;
  padding-bottom: 60px; }

div#create-brand * {
  color: #fff; }

div#create-brand h1 {
  text-align: center;
  margin-bottom: 35px;
  font-size: 72px; }

div#create-brand h3 {
  font-size: 48px;
  margin-bottom: 35px; }

div#create-brand p {
  font-size: 24px;
  margin-bottom: 45px; }

div#create-brand div.mobile-screen {
  text-align: center; }
  div#create-brand div.mobile-screen img.iphone-mockup {
    text-align: center;
    margin: 0 auto;
    display: inline-block; }

div#why-mobile * {
  color: #fff; }

div#why-mobile h1 {
  font-size: 72px; }

@media (max-width: 991px) {
  div#why-mobile-wrapper {
    padding-top: 20px;
    padding-bottom: 20px; } }

div#grow-your-audience-wrapper {
  background: url(../images/grow-audience-map.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 80px; }

div#grow-your-audience * {
  color: #666666; }

div#grow-your-audience h1 {
  margin-top: 0;
  font-size: 60px; }

div#grow-your-audience img {
  text-align: center;
  margin-bottom: 10px; }

@media (max-width: 991px) {
  div#grow-your-audience-wrapper {
    padding-top: 20px;
    padding-bottom: 20px; } }

div#future-of-tv {
  min-height: 600px;
  padding-top: 60px;
  padding-bottom: 40px; }
  div#future-of-tv * {
    color: #666666; }
  div#future-of-tv h1 {
    margin: 45px 0 45px 0;
    font-size: 52px;
    line-height: 62px; }
  div#future-of-tv h3 {
    margin-bottom: 35px;
    font-size: 44px; }
  div#future-of-tv h5 {
    font-size: 36px; }
  div#future-of-tv img.chromecast-apple-tv {
    max-width: 882px;
    width: 882px;
    height: auto;
    position: absolute;
    left: 20px; }

@media (max-width: 991px) {
  div#future-of-tv {
    padding-top: 20px;
    padding-bottom: 20px; }
    div#future-of-tv img.chromecast-apple-tv {
      position: static;
      margin: 10px 0 0 0;
      width: 100%;
      height: auto; } }

div#make-learning-fun-wrapper {
  background: url(../images/students-learning.jpg) no-repeat left top;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 546px; }

div#make-learning-fun {
  height: 546px; }
  div#make-learning-fun * {
    color: #666666; }
  div#make-learning-fun h1 {
    margin-bottom: 35px;
    font-size: 62px; }
  div#make-learning-fun h3 {
    font-size: 36px;
    margin-bottom: 35px; }
  div#make-learning-fun p {
    font-size: 24px; }

@media (max-width: 991px) {
  div#make-learning-fun-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    background: url(../images/students-learning-alt.jpg) no-repeat left top; } }

div#turn-idea-product-wrapper {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 80px; }

div#turn-idea-product {
  min-height: 650px; }
  div#turn-idea-product * {
    color: #666666; }
  div#turn-idea-product h1 {
    margin: 45px 0 45px 0;
    font-size: 48px;
    line-height: 48px; }
  div#turn-idea-product p {
    font-size: 30px;
    font-weight: 100; }
  div#turn-idea-product img.mockup {
    max-width: 894px;
    width: 894px;
    height: auto;
    position: absolute;
    left: 20px;
    top: 60px; }

@media (max-width: 991px) {
  div#turn-idea-product {
    padding-top: 20px;
    padding-bottom: 40px; }
    div#turn-idea-product img.mockup {
      position: static;
      margin: 10px 0 0 0;
      width: 100%;
      height: auto; } }

div#solution-everyone-wrapper {
  background-color: #37aea4;
  padding-top: 40px;
  padding-bottom: 80px; }

div#solution-everyone h1 {
  text-align: center;
  color: #fff;
  font-size: 72px;
  margin-bottom: 45px; }

div.solution-box {
  max-width: 350px;
  min-height: 610px;
  background-color: #fff;
  -webkit-box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0;
  margin: 0 auto 20px auto; }
  div.solution-box div.header {
    height: 234px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }
    div.solution-box div.header.business {
      background-image: url(../images/business-woman.jpg); }
    div.solution-box div.header.experts {
      background-image: url(../images/expert.jpg); }
    div.solution-box div.header.educators {
      background-image: url(../images/teacher.jpg); }
  div.solution-box div.body {
    padding: 10px; }
    div.solution-box div.body h3 {
      font-weight: 400;
      color: #222;
      font-size: 26px; }
    div.solution-box div.body hr {
      border-top: 3px solid #e74c3c;
      width: 45px; }
    div.solution-box div.body span {
      display: block;
      clear: both;
      padding: 10px 5px;
      margin-bottom: 2px;
      font-size: 16px; }
  div.solution-box div.footer {
    bottom: 0;
    padding: 10px; }
    div.solution-box div.footer .btn {
      display: block;
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 300; }

div#what-is-mapout-wrapper {
  background: url(../images/texture-concrete.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px; }

div#what-is-mapout h1 {
  margin: 45px 0 25px 0;
  font-size: 48px;
  line-height: 48px; }

div#what-is-mapout p {
  margin: 0 0 25px 0;
  font-size: 20px;
  line-height: 36px; }

div#what-is-mapout dl {
  font-size: 20px;
  font-weight: 300;
  line-height: 36px; }
  div#what-is-mapout dl dt {
    width: 55px;
    text-align: center;
    display: inline-block;
    float: left;
    clear: left; }
  div#what-is-mapout dl dd {
    clear: right;
    padding: 0 0 20px 60px;
    line-height: 36px; }

div#what-is-mapout img.mockup {
  max-width: 922px;
  width: 922px;
  height: auto;
  position: absolute;
  left: 0; }

@media (max-width: 991px) {
  div#what-is-mapout img.mockup {
    position: static;
    margin: 10px 0 0 0;
    width: 100%;
    height: auto; } }

div#testimonials-wrapper {
  background-color: #ededed; }

div#testimonials {
  padding-top: 30px;
  padding-bottom: 50px; }
  div#testimonials h1 {
    font-size: 36px;
    text-transform: uppercase;
    line-height: 36px;
    margin-bottom: 30px; }
  div#testimonials q {
    background: url(../images/quote.png) no-repeat 0 0;
    display: block;
    padding: 25px 50px;
    font-size: 16px;
    font-weight: 300; }
    div#testimonials q:before {
      content: ""; }
  div#testimonials cite {
    text-align: right;
    font-style: normal;
    float: right; }
    div#testimonials cite:before {
      content: "\0336 \00a0"; }

@media (max-width: 767px) {
  div#testimonials h1 {
    font-size: 28px; } }

div#why-use-mapout-gray-wrapper {
  background-color: #5a6166; }
  div#why-use-mapout-gray-wrapper * {
    color: #fff !important; }

div#why-use-mapout-green-wrapper {
  background-color: #7aa49c; }
  div#why-use-mapout-green-wrapper * {
    color: #fff !important; }

div#why-use-mapout {
  padding-top: 40px;
  padding-bottom: 40px; }
  div#why-use-mapout h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 55px; }
  div#why-use-mapout dl {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px; }
    div#why-use-mapout dl dt {
      width: 85px;
      text-align: left;
      display: inline-block;
      float: left;
      clear: left; }
    div#why-use-mapout dl dd {
      clear: right;
      padding: 0 0 20px 85px;
      line-height: 24px; }
      div#why-use-mapout dl dd h3 {
        font-size: 24px;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 5px; }
      div#why-use-mapout dl dd p {
        font-size: 18px;
        color: #666;
        font-weight: 300; }
      div#why-use-mapout dl dd h5 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0; }

div#types-of-courses-gray-wrapper {
  background-color: #5a6166; }
  div#types-of-courses-gray-wrapper * {
    color: #fff !important; }

div#types-of-courses {
  padding-top: 40px;
  padding-bottom: 40px; }
  div#types-of-courses h1 {
    text-align: center;
    font-size: 48px;
    margin-bottom: 25px; }
  div#types-of-courses h3 {
    text-align: center;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 35px; }
  div#types-of-courses dl {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px; }
    div#types-of-courses dl dt {
      width: 65px;
      text-align: left;
      display: inline-block;
      float: left;
      clear: left; }
    div#types-of-courses dl dd {
      clear: right;
      padding: 0 0 20px 65px;
      line-height: 24px; }
      div#types-of-courses dl dd p {
        font-size: 18px;
        color: #666;
        font-weight: 300; }
      div#types-of-courses dl dd h5 {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 0;
        margin-top: 0; }

div#how-does-work-wrapper {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px; }

div#how-does-work img.mockup {
  max-width: 894px;
  width: 894px;
  height: auto;
  position: absolute;
  right: 0;
  top: 50px; }

div#how-does-work h1 {
  font-size: 48px;
  margin-bottom: 35px; }

div#how-does-work dl {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px; }
  div#how-does-work dl dt {
    width: 85px;
    text-align: left;
    display: inline-block;
    float: left;
    clear: left; }
  div#how-does-work dl dd {
    clear: right;
    padding: 0 0 20px 85px;
    line-height: 28px; }
    div#how-does-work dl dd p {
      font-size: 18px;
      color: #666;
      font-weight: 300; }
    div#how-does-work dl dd h5 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px; }

@media (max-width: 991px) {
  div#how-does-work img.mockup {
    position: static;
    margin: 10px 0 0 0;
    width: 100%;
    height: auto; }
  div#how-does-work h1 {
    font-size: 40px; } }

div#make-an-investment-gray-wrapper {
  background-color: #5a6166; }
  div#make-an-investment-gray-wrapper h1, div#make-an-investment-gray-wrapper h3 {
    color: #fff !important; }

div#make-an-investment-green-wrapper {
  background-color: #7aa49c; }
  div#make-an-investment-green-wrapper h1, div#make-an-investment-green-wrapper h3 {
    color: #fff !important; }

div#make-an-investment {
  padding-top: 40px;
  padding-bottom: 40px; }
  div#make-an-investment h1, div#make-an-investment h3 {
    text-align: center; }
  div#make-an-investment h1 {
    font-size: 48px; }
  div#make-an-investment h3 {
    font-size: 24px;
    line-height: 40px; }
  div#make-an-investment div.row {
    padding-bottom: 30px; }
  div#make-an-investment div.feature {
    padding-bottom: 40px; }

div.feature-box {
  max-width: 350px;
  min-height: 610px;
  background-color: #fff;
  -webkit-box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0;
  margin: 0 auto; }
  div.feature-box div.header {
    vertical-align: middle;
    height: 100px;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 0; }
    div.feature-box div.header h2 {
      font-size: 30px;
      font-weight: 300;
      line-height: 20px;
      margin: 0; }
    div.feature-box div.header.one {
      background-color: #37aea4; }
    div.feature-box div.header.two {
      background-color: #ca4f5b; }
    div.feature-box div.header.three {
      background-color: #2b7f9b; }
  div.feature-box div.body {
    padding: 10px; }
    div.feature-box div.body span {
      display: block;
      clear: both;
      padding: 13px;
      background-color: #e7e4e7;
      margin-bottom: 2px;
      font-size: 16px; }
  div.feature-box div.price {
    padding: 0; }
    div.feature-box div.price span.amount {
      display: block;
      clear: both;
      font-size: 70px;
      font-weight: 800;
      line-height: 70px;
      margin: 10px 0 0 0; }
      div.feature-box div.price span.amount span.dollar-sign {
        font-size: 24px;
        position: relative;
        top: -10px; }
    div.feature-box div.price span.duration {
      display: block;
      clear: both;
      margin: 0;
      line-height: 14px;
      font-size: 15px;
      text-transform: uppercase;
      position: relative;
      top: -15px; }
    div.feature-box div.price span.terms {
      display: block;
      clear: both;
      margin: 0;
      line-height: 12px;
      font-size: 12px;
      text-transform: uppercase;
      position: relative;
      top: -15px; }
  div.feature-box div.footer {
    bottom: 0;
    padding: 10px; }
    div.feature-box div.footer .btn {
      display: block;
      width: 100%;
      color: #fff;
      font-size: 24px;
      font-weight: 300; }
      div.feature-box div.footer .btn.btn-one {
        background-color: #37aea4; }
        div.feature-box div.footer .btn.btn-one:hover, div.feature-box div.footer .btn.btn-one:active {
          background-color: #2b877f; }
      div.feature-box div.footer .btn.btn-two {
        background-color: #ca4f5b; }
        div.feature-box div.footer .btn.btn-two:hover, div.feature-box div.footer .btn.btn-two:active {
          background-color: #b13541; }
      div.feature-box div.footer .btn.btn-three {
        background-color: #2b7f9b; }
        div.feature-box div.footer .btn.btn-three:hover, div.feature-box div.footer .btn.btn-three:active {
          background-color: #205e73; }

div#faqs-wrapper {
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  background-color: #f1f1f1;
  padding-top: 40px;
  padding-bottom: 40px; }

div#faqs h1 {
  font-size: 60px;
  margin-bottom: 35px;
  text-align: center; }

div#faqs dl {
  font-size: 18px;
  font-weight: 300;
  line-height: 28px; }
  div#faqs dl dt {
    width: 65px;
    text-align: left;
    display: inline-block;
    float: left;
    clear: left; }
  div#faqs dl dd {
    clear: right;
    padding: 0 0 20px 65px;
    line-height: 28px; }
    div#faqs dl dd p {
      font-size: 18px;
      color: #666;
      font-weight: 300; }
    div#faqs dl dd h5 {
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 10px;
      margin-top: 0; }

div#schedule-demo-wrapper {
  background: url(../images/texture-metal.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 40px; }

div#schedule-demo h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 48px;
  line-height: 55px;
  margin-bottom: 35px;
  margin-top: 60px; }

div#schedule-demo form {
  margin-bottom: 40px; }
  div#schedule-demo form div.form-group {
    margin-bottom: 20px; }
  div#schedule-demo form input.form-control {
    border: 1px solid #aaa;
    background-color: #727272;
    color: #fff; }
  div#schedule-demo form select.form-control {
    border: 1px solid #aaa;
    background-color: #727272; }
  div#schedule-demo form .btn {
    padding: 12px; }

div#schedule-demo img.mockup {
  max-width: 740px;
  width: 740px;
  height: auto;
  position: absolute;
  left: 40px;
  top: 0; }

@media (max-width: 991px) {
  div#schedule-demo img.mockup {
    display: none; }
  div#schedule-demo h1 {
    font-size: 40px; } }

div#about {
  padding-top: 45px;
  padding-bottom: 45px; }
  div#about img.profile-pic {
    border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-top: 20px; }
  div#about q {
    text-align: center;
    display: block;
    font: italic 36px/48px Times, 'Times New Roman', Georgia, Serif;
    padding: 15px 70px 50px 70px;
    background: url(../images/quote-gray.png) no-repeat 0 0;
    width: 90%;
    margin: 20px auto;
    color: #2b877f; }
    div#about q:before {
      content: ""; }
  div#about div.rob-social-links {
    color: red;
    font-size: 14px; }
    div#about div.rob-social-links span.sprite-icon {
      margin: 0 12px; }

@media (max-width: 991px) {
  div#about img.profile-pic {
    margin: 10px auto 0 auto;
    text-align: center !important;
    display: block; }
  div#about h1, div#about p {
    text-align: center; }
  div#about q {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    padding: 15px 40px 50px 40px; } }

div#blog {
  padding-top: 0;
  padding-bottom: 45px; }
  div#blog span.meta {
    display: block;
    margin-bottom: 25px;
    line-height: 36px;
    font-size: 16px;
    color: #5d7987;
    font-weight: 300; }
    div#blog span.meta strong {
      font-weight: 600; }
    div#blog span.meta img.profile-pic {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      width: 48px;
      height: 48px;
      margin-right: 15px;
      display: inline; }
  div#blog span.blog-post {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block; }
    div#blog span.blog-post q {
      text-align: center;
      display: block;
      font: italic 36px/48px Times, 'Times New Roman', Georgia, Serif;
      padding: 15px 70px 50px 70px;
      background: url(../images/quote-gray.png) no-repeat 0 0;
      width: 90%;
      margin: 20px auto;
      color: #2b877f; }
      div#blog span.blog-post q:before {
        content: ""; }
  div#blog div.blog-box {
    max-width: 330px;
    max-height: 280px;
    height: 280px;
    background-color: #fff;
    border: 1px solid #d7d7d8;
    text-align: center;
    padding: 0;
    margin: 0 auto 45px auto; }
    div#blog div.blog-box:hover, div#blog div.blog-box:active {
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      cursor: pointer; }
    div#blog div.blog-box a:hover, div#blog div.blog-box a:active {
      text-decoration: none; }
    div#blog div.blog-box a span.blog-header {
      height: 175px;
      width: 100%;
      color: #fff;
      line-height: 115px;
      vertical-align: middle;
      position: relative;
      background-image: url(../images/heros/blog-tutorials.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      display: block; }
      div#blog div.blog-box a span.blog-header em.fa {
        font-size: 48px;
        line-height: 115px;
        z-index: 999;
        position: relative; }
      div#blog div.blog-box a span.blog-header span.overlay {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: .7;
        z-index: 1;
        display: block; }
    div#blog div.blog-box a span.blog-body {
      text-align: left;
      padding: 10px 25px 25px 25px;
      display: block; }
      div#blog div.blog-box a span.blog-body span.date {
        font-size: 16px;
        line-height: 30px;
        display: block;
        color: #5d7987;
        font-weight: 300;
        margin-bottom: 0; }
      div#blog div.blog-box a span.blog-body h3 {
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        margin: 5px 0 25px 0;
        color: #666; }
      div#blog div.blog-box a span.blog-body span.body {
        font-size: 16px;
        line-height: 22px;
        color: #666;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box; }

@media (max-width: 991px) {
  div#blog span.blog-post q {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    padding: 15px 40px 50px 40px; } }

@media (max-width: 767px) {
  div#blog {
    padding-top: 25px;
    padding-bottom: 25px; }
    div#blog span.meta {
      display: block;
      clear: both;
      width: 100%;
      display: table;
      line-height: 23px; }
      div#blog span.meta img.profile-pic {
        width: 60px;
        height: 60px;
        float: left; }
      div#blog span.meta span.author {
        display: inline-block;
        clear: right;
        padding-top: 4px;
        padding-left: 4px; }
      div#blog span.meta span.date {
        display: inline-block;
        padding-left: 4px; } }

div#podcasts {
  padding-top: 45px;
  padding-bottom: 45px; }
  div#podcasts span.meta {
    display: block;
    margin-bottom: 25px;
    line-height: 36px;
    font-size: 16px;
    color: #5d7987;
    font-weight: 300; }
    div#podcasts span.meta strong {
      font-weight: 600; }
    div#podcasts span.meta img.profile-pic {
      border-radius: 100%;
      -webkit-border-radius: 100%;
      width: 48px;
      height: 48px;
      margin-right: 15px;
      display: inline; }
  div#podcasts span.podcast-post {
    /*margin-top: 65px;*/
    margin-bottom: 25px;
    display: block; }
    div#podcasts span.podcast-post q {
      text-align: center;
      display: block;
      font: italic 36px/48px Times, 'Times New Roman', Georgia, Serif;
      padding: 15px 70px 50px 70px;
      background: url(../images/quote-gray.png) no-repeat 0 0;
      width: 90%;
      margin: 20px auto;
      color: #2b877f; }
      div#podcasts span.podcast-post q:before {
        content: ""; }
    div#podcasts span.podcast-post p {
      font-size: 20px;
      line-height: 30px; }
    div#podcasts span.podcast-post div.actions {
      margin: 25px 0 55px 0;
      text-align: center; }
      div#podcasts span.podcast-post div.actions button, div#podcasts span.podcast-post div.actions a {
        margin: 0 10px; }
  div#podcasts div.podcast-box {
    max-width: 330px;
    max-height: 420px;
    height: auto;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 0;
    margin: 0 auto 45px auto;
    display: table; }
    div#podcasts div.podcast-box:hover, div#podcasts div.podcast-box:active {
      -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
      cursor: pointer; }
    div#podcasts div.podcast-box a:hover, div#podcasts div.podcast-box a:active {
      text-decoration: none; }
    div#podcasts div.podcast-box a span.podcast-header {
      max-height: 219px;
      width: 100%;
      overflow: hidden;
      display: block; }
      div#podcasts div.podcast-box a span.podcast-header img {
        width: 100%;
        height: auto; }
    div#podcasts div.podcast-box a span.podcast-title {
      background-color: #37aea4;
      width: 100%;
      height: 40px;
      text-align: center;
      color: #fff;
      display: block;
      font-size: 18px;
      line-height: 40px; }
    div#podcasts div.podcast-box a span.podcast-body {
      text-align: left;
      padding: 25px;
      display: block; }
      div#podcasts div.podcast-box a span.podcast-body h3 {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin: 0 0 5px 0;
        color: #444;
        text-transform: uppercase; }
      div#podcasts div.podcast-box a span.podcast-body span.episode {
        display: block;
        color: #37aea4;
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 300; }
      div#podcasts div.podcast-box a span.podcast-body span.body {
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
        color: #666;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box; }

@media (max-width: 991px) {
  div#podcasts span.podcast-post q {
    width: 100%;
    font-size: 30px;
    line-height: 40px;
    padding: 15px 40px 50px 40px; } }

@media (max-width: 767px) {
  div#podcasts {
    padding-top: 25px;
    padding-bottom: 25px; }
    div#podcasts span.meta {
      display: block;
      clear: both;
      width: 100%;
      display: table;
      line-height: 23px; }
      div#podcasts span.meta img.profile-pic {
        width: 60px;
        height: 60px;
        float: left; }
      div#podcasts span.meta span.author {
        display: inline-block;
        clear: right;
        padding-top: 4px;
        padding-left: 4px; }
      div#podcasts span.meta span.date {
        display: inline-block;
        padding-left: 4px; } }

div#contact {
  padding-top: 0;
  padding-bottom: 45px;
  color: #fff; }
  div#contact h1 {
    margin-bottom: 25px; }
  div#contact div.contact-form {
    padding-right: 50px;
    border-right: 1px solid #999; }
  div#contact div.contact-details {
    padding-left: 50px; }
    div#contact div.contact-details a {
      color: #fff;
      text-decoration: none; }
      div#contact div.contact-details a:active, div#contact div.contact-details a:hover {
        text-decoration: none;
        color: #d9d9d9; }
    div#contact div.contact-details dl {
      font-size: 18px;
      font-weight: 300;
      line-height: 26px; }
      div#contact div.contact-details dl dt {
        width: 35px;
        text-align: center;
        display: inline-block;
        float: left;
        clear: left;
        color: #37aea4; }
      div#contact div.contact-details dl dd {
        clear: right;
        padding: 0 0 20px 40px;
        line-height: 26px; }
        div#contact div.contact-details dl dd p {
          font-size: 18px;
          color: #666;
          font-weight: 300; }
        div#contact div.contact-details dl dd h5 {
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 10px;
          margin-top: 0; }

@media (max-width: 991px) {
  div#contact div.contact-form {
    padding-right: 15px;
    border-right: 0; }
  div#contact div.contact-details {
    padding-left: 15px; } }

div#grow-sales-wrapper {
  background: url(../images/clouds-bg.jpg) no-repeat center top;
  background-size: 100% auto; }

div#grow-sales * {
  text-align: center; }

div#grow-sales h1 {
  font-size: 58px;
  color: #3490b7;
  margin-top: 100px;
  margin-bottom: 45px;
  font-weight: 300; }

div#grow-sales h3 {
  font-size: 29px;
  line-height: 36px;
  color: #666;
  font-weight: 100;
  margin-bottom: 45px; }

div#grow-sales button {
  margin-bottom: 45px; }

div#prospects-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  min-height: 650px; }

div#prospects img.mockup {
  max-width: 642px;
  width: 642px;
  height: auto;
  position: absolute;
  left: 120px;
  top: 0; }

div#prospects h5, div#leads h5, div#qualified-leads h5, div#sales h5, div#retention h5, div#turn-prospects h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 45px;
  line-height: 18px;
  font-size: 14px;
  color: #aaa; }

div#prospects h3, div#leads h3, div#qualified-leads h3, div#sales h3, div#retention h3, div#turn-prospects h3 {
  margin-top: 2px;
  margin-bottom: 20px; }

div#prospects ul, div#leads ul, div#qualified-leads ul, div#sales ul, div#retention ul, div#turn-prospects ul {
  margin-bottom: 45px; }
  div#prospects ul li, div#leads ul li, div#qualified-leads ul li, div#sales ul li, div#retention ul li, div#turn-prospects ul li {
    font-size: 15px;
    line-height: 19px;
    padding-bottom: 8px; }

div.separator {
  height: 140px;
  width: 100%;
  background: url(../images/separator.png) repeat-x top center;
  position: absolute;
  bottom: 0px;
  z-index: 999; }

div#leads-wrapper {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url(../images/leads-bg.jpg) no-repeat center top; }

div#leads h3, div#leads h5, div#leads p, div#leads ul, div#leads li {
  color: #fff; }

div#leads img.pipeline {
  text-align: center;
  margin: auto;
  display: block; }

div#qualified-leads-wrapper {
  padding-top: 70px;
  padding-bottom: 70px; }

div#qualified-leads img.mockup {
  text-align: center;
  margin: auto;
  display: block; }

div#sales-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
  min-height: 650px; }

div#sales h1 {
  margin-bottom: 0; }

div#sales img.mockup {
  max-width: 642px;
  width: 642px;
  height: auto;
  position: absolute;
  right: 30px;
  top: 0; }

div#retention-wrapper {
  background-color: #e9eaeb;
  border-top: 1px solid #6b6b6b;
  padding-top: 30px;
  padding-bottom: 70px;
  min-height: 600px; }

div#retention img.mockup {
  position: absolute;
  z-index: 1000; }

div#turn-prospects-wrapper {
  padding-top: 30px;
  padding-bottom: 70px;
  min-height: 750px; }

div#turn-prospects h1 {
  font-size: 58px;
  margin-bottom: 55px;
  color: #315262;
  text-align: center; }

div#turn-prospects img.mockup {
  max-width: 642px;
  width: 642px;
  height: auto;
  position: absolute;
  left: 120px;
  top: 0; }

div#turn-prospects img.app-store, div#turn-prospects img.google-store {
  max-width: 220px;
  width: 220px;
  float: left;
  display: inline-block;
  margin-bottom: 10px; }

div#turn-prospects img.app-store {
  margin-right: 10px; }

div#recommended-articles-wrapper {
  background-color: #e9eaeb;
  border-top: 1px solid #6b6b6b;
  padding-top: 30px;
  padding-bottom: 70px;
  min-height: 600px; }

div#recommended-articles h1 {
  font-size: 44px;
  margin-bottom: 55px;
  color: #315262;
  text-align: center; }

div#white-paper-wrapper {
  padding-top: 30px;
  padding-bottom: 70px; }

div#white-paper h1 {
  font-size: 58px;
  margin-bottom: 40px;
  color: #315262;
  text-align: center; }

div#white-paper * {
  text-align: center; }

@media (max-width: 991px) {
  div#prospects img.mockup, div#sales img.mockup, div#turn-prospects img.mockup {
    position: static;
    margin: 10px 0 0 0;
    width: 100%;
    height: auto; }
  div#retention img.mockup {
    position: relative;
    margin: 10px auto 30px auto;
    width: auto;
    height: auto;
    display: block;
    text-align: center; } }

div#newsletter-wrapper {
  background-color: #2980B9;
  padding-top: 40px;
  padding-bottom: 60px; }

div#newsletter {
  text-align: center;
  color: #fff; }
  div#newsletter h1 {
    font-size: 36px; }
  div#newsletter h3 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 25px; }
  div#newsletter form input.form-control {
    width: 230px;
    height: 38px;
    border: 0;
    margin: 5px 7px; }
  div#newsletter form .btn {
    width: 230px;
    height: 38px;
    border: 0;
    margin: 5px 7px;
    background-color: #e74c3c; }

div#hosts-wrapper {
  background-color: #ECF0F1;
  padding-top: 40px;
  padding-bottom: 60px; }

div#hosts {
  text-align: center;
  color: #000; }
  div#hosts h1 {
    font-size: 36px; }
  div#hosts h3 {
    font-size: 24px;
    line-height: 36px; }

div#footer-wrapper {
  background-color: #2C3E50;
  padding-top: 60px;
  padding-bottom: 30px; }

div#footer {
  color: #fff; }
  div#footer div.footer-nav {
    padding-bottom: 40px;
    padding-top: 0; }
    div#footer div.footer-nav ul {
      list-style: none;
      margin: 0;
      padding: 0 0 20px 0;
      float: left;
      display: inline-block;
      width: 175px; }
      div#footer div.footer-nav ul li {
        line-height: 24px;
        font-size: 14px; }
    div#footer div.footer-nav a {
      color: #fff;
      text-decoration: none; }
  div#footer div.footer-logo span.logo {
    display: block;
    width: 285px;
    height: 45px;
    overflow: hidden;
    text-indent: -9999px;
    background: url(../images/logo-horizontal-white.png) no-repeat;
    /*background-size: 500px 300px;*/
    margin: 0 auto 20px auto;
    z-index: 99999;
    position: relative; }
  div#footer div.social-links,
  div#footer div.copyright {
    text-align: center;
    margin: 10px auto;
    font-size: 14px; }
    div#footer div.social-links span.sprite-icon,
    div#footer div.copyright span.sprite-icon {
      margin: 0 12px; }

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 1.5dppx) {
  div#footer div.footer-logo span.logo {
    background: url(../images/logo-horizontal-white.png) no-repeat; } }

/*# sourceMappingURL=site.css.map */
