<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>{{ page.title | default: "Stretch Goals Podcast" }}</title>

        {% assign post = site.posts.first %}
        <style>
            .page-podcasts #hero {
                background-image:
                    linear-gradient(
                            rgba(0,0,0,.45),
                            rgba(0,0,0,.45)),
                    url(../assets/images/podcasts/{{post.image}});
            }
        </style>

    </head>
    <body>
    <div class="wrapper page-podcasts">

        {% include header.html %}

        <div id="hero" class="container-fluid">
            <div class="hero-body">
                <div class="hero-head">
                    <div class="podcasts-right">
                        <h5>Latest Episode</h5>
                        <h1><a href="/ep{{post.episode}}">{{ post.title }}</a></h1>
                        <div>
                            <p><a href="/ep{{post.episode}}" class="trans-button trans-white">Listen Now</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div><!--/ #hero -->

        <div id="podcasts" class="container">

            {% for post in site.posts %}
            {% capture thecycle %}{% cycle '1', '2', '3' %}{% endcapture %}

            {% if thecycle == '1'%}
            <div class="row">
            {% endif %}

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="podcast-box">
                        <a href="{{ post.url }}">
                                <span class="podcast-header">
                                    <img src="/assets/images/podcasts/{{ post.image }}" alt="">
                                </span>
                            <!--span class="podcast-title">
                                Competing With Giants
                            </span-->
                            <span class="podcast-body">
                                    <h3 class="author">{{ post.title }}</h3>
                                    <span class="episode">Episode {{ post.episode }}</span>
                                    <span class="body">{{ post.subtitle }}</span>
                                </span>
                        </a>
                    </div><!--/ .podcast-box -->
                </div><!--/ .col -->

            {% if thecycle == '3' or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}

        </div><!--/ #podcasts -->

        {% include newsletter.html %}
        {% include hosts.html %}
        {% include footer.html %}

    </div><!--/ .wrapper -->

    {% include footerscripts.html %}

    </body>
</html>
