---
layout: post-default
---

<div id="podcasts" class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <span class="podcast-post">
                <!--div id="player"></div-->
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ page.audiourl }}"></iframe>
                <div class="actions">
                    <a href="{{ site.itunes_subscribe }}"><button id="listen-itunes" name="listen-itunes" class="trans-button trans-black trans-sm">LISTEN IN ITUNES</button></a>
                    <!--a href="https://audio.stretchgoals.fm/ep{{ page.episode }}.mp3"><button id="download-mp3" name="download-mp3" class="trans-button trans-black trans-sm">DOWNLOAD MP3</button></a-->
                </div>
            </span>
            {{ content }}
        </div>
    </div>

</div>

<!--p class="meta">{{ page.date | date_to_string }}</p-->
