<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>Stretch Goals - {{ page.title | default: "Podcast" }}</title>

        <style>
            .page-podcasts-detail #hero {
                background-image:
                    linear-gradient(
                        rgba(0,0,0,.45),
                        rgba(0,0,0,.45)),
                    url(../assets/images/podcasts/{{ page.image }});
             }
        </style>

    </head>
    <body>
    <div class="wrapper page-podcasts-detail">

        {% include header.html %}

        <div id="hero" class="container-fluid">
            <div class="hero-body">
                <div class="hero-head">
                    <h1>{{ page.title}}</h1>
                    <div>
                        <p>Episode {{ page.episode }}</p>
                    </div>
                </div>
            </div>
        </div><!--/ #hero -->

        {{ content }}

        {% include newsletter.html %}
        {% include hosts.html %}
        {% include footer.html %}

    </div><!--/ .wrapper -->

    <!-- Delayed Load Scripts -->
    <!--<script type="text/javascript" src="https://content.jwplatform.com/libraries/wdpJU5qQ.js"></script>-->
    <!--<script>jwplayer.key="UAkj/feTr5iWaafrDvaNL1m7D63CSfLBGXSKQmkPVOw=";</script>-->

    <!--<script>-->
        <!--var playerInstance = jwplayer("player");-->

        <!--playerInstance.setup({-->
            <!--file: "http://audio.stretchgoals.fm/ep{{ page.title }}.mp3",-->
            <!--width: "auto",-->
            <!--height: "32",-->
            <!--displaytitle: false,-->
            <!--controls: true,-->
            <!--skin: "bekle"-->
        <!--});-->
    <!--</script>-->

    {% include footerscripts.html %}

    </body>
</html>
